div{
    background-color: darkslategrey;
    color: rgb(172, 172, 172);
    left:auto;
    margin:0 auto;
	padding:0;

}

h1{
    margin:0 auto;
	padding:0;
	
}

#real{
    color: rgb(10, 8, 8);

}

body {
    
    font-family: Arial, Helvetica, sans-serif;
    background: url(/CV/CVbgimage.jpg)  #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-left: auto;
    margin-right: auto;
    margin-left: 120px;
    padding-right: 100px;
  }

.container img{
    left: 50px;
    width: 20%;
    height: auto;
    float: left;
    display: block;
    object-fit: cover;
}


h2 {
    text-decoration: indianred;
    text-decoration-style: dotted;
    
    color: rgb(141, 13, 13);
}
